@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.small-container{
    max-width: 1250px;
    margin: auto;
    padding: 0 25px;
}

.menu-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Features Products */
.menu-product{
    flex-basis: 24%;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    transition: transform .5s;
    background-color: #ffffff;
    border:1px solid #FF6600;
}

.menu-product:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.menu-product img{
    width: 100%;
    cursor: pointer;
}

.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-family: 'Roboto Slab', sans-serif;
}

.title::after{
    content: '';
    background: #ff533b;
    width: 20%;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h2{
    color: #555555;
    font-weight: normal;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}

.menu-product p{
    font-size: 14px;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.menu-product .ratings{
    color: #ff523b;
}

.menu-product:hover{
    transform: translateY(-5px);
}

a{
    text-decoration: none;
}

.menu-btn{
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
    color: #ffffff;
    background-color: #FF6600;
    display: block;
    margin-top: auto;
}

.menu-btn:hover{
    background-color: #FF9900;
}


@media only screen and (max-width:992px){
    .menu-product{ 
        flex-basis: 33%;
    }

}

@media only screen and (max-width:768px){
    .menu-row{
        text-align: center;
    }

    .menu-product{ 
        flex-basis: 50%;
    }

}

@media only screen and (max-width:576px){
    .menu-row{
        text-align: center;
    }

    .menu-product{ 
        flex-basis: 100%;
    }

}